include Maunakea/*
include VLT/*
include LaPalma/*
include LFOA/*
include METIS/*
include MICADO/*
include LRIS-2/*
include MORFEO/*
include Armazones/*
include Keck/*
include NIRCam/*
include OSIRIS/*
include ViennaLT/*
include HAWKI/*
include test_package/*
include GTC/*
include JWST/*
include WFC3/*
include Paranal/*
include HST/*
include ELT/*
